* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 40vh;
    background-image: url(../img/img_header.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    color: white;
    font-size: 4rem;
    font-family: 'Rubik Dirt', cursive;
}

header span {
    color: green;
}

main {
    min-height: 40vh;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}

.style_form {
    width: 10%;
}

footer {
    height: 20vh;
    background-image: url(../img/img_header.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

footer img {
    height: 150px;
}